<body>
    <section class="skills">
        <div class="heading">
          <h1>My Skills</h1>
        </div>
        <div class="prog">
          <div class="main">
            <label class="txt" for="html">HTML</label>
            <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="75"
              aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 75%"></div>
            </div>
          </div>    
          <div class="main">
            <label class="txt" for="html">CSS</label>
            <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="75"
              aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 75%"></div>
            </div>
          </div>
          <div class="main">
            <label class="txt" for="html">javaScript</label>
            <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="75"
              aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 75%"></div>
            </div>
          </div>
          <div class="main">
            <label class="txt" for="html">Python</label>
            <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="75"
              aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 75%"></div>
            </div>
          </div>
          <div class="main">
            <label class="txt" for="html">Php</label>
            <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="75"
              aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 75%"></div>
            </div>
          </div>
          <div class="check">
            <a href="/"><button class="bn30">Download Resume</button></a>
          </div>
        </div>
      </section>
</body>
   
