<body>
    <div class="wrapper">
        <div class="container">
            <div class="sign_in">
                <div class="input_field">
                    <input type="text" placeholder="E-mail" class="input">
                </div>
                <div class="input_field">
                    <input type="password" placeholder="Password" class="input">
                </div>
                <div class="btn"><a href="#">Sign up</a></div>
            </div>
            <a class="btn" href="/Login">Sign-in</a>
        </div>
    </div>
</body>