<body>
    <div id="contact"  >
        <div class="contenier">
            <div class="row">
                <div class="contact-left"  data-aos="fade-up-right">
                    <h1 class="sub-title">Contact Me</h1>
                    <p><i class="fa-solid fa-paper-plane"></i>Demogmail.com</p>
                    <p><i class="fa-solid fa-square-phone-flip"></i>9999-9999-99</p>
                    <div class="social-icons" data-aos="zoom-in">
        
                        <a target="_blank" class="instagram" href=""><i class="fa-brands fa-square-instagram"></i></a>
                        <a target="_blank" class="github" href=""><i class="fa-brands fa-github"></i></a>
                        <a target="_blank" class="linkedin" href=""><i class="fa-brands fa-linkedin"></i></a>
                    </div>
                    <a href="" class="btn btn2">View Resume</a>

                </div>
                <div class="contact-right" data-aos="fade-up-left">
                    <form >
                        <input type="text" name="Name" placeholder="Your Name" required>
                        <input type="Email" name="Email" placeholder="Your Email" required>
                        <textarea name="massage" rows="6" placeholder="Your Message"></textarea>
                        <button type="submit" class="btn btn2">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>Copyright &copy; 2024 Website Developed By <span style="color: rgb(224, 44, 44);">A Venkatesh</span></p>
        </div>
      </div>
</body>