<body>
    <div id="about"data-aos="fade-up"
    data-aos-anchor-placement="center-bottom">
      <div class="contenier">
          <div class="row">
              <div class="about-col-1">
                <img src="https://images.unsplash.com/photo-1613980790147-f4f449df0dd9?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fG1hbiUyMGNvbXB1dGVyfGVufDB8fDB8fHww" data-aos="zoom-in" >  
              </div>
              <div class="about-col-2" data-aos="zoom-in">
                  <h1 class="sub-title">About Me</h1>
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima quam, eligendi ipsam quas dolorem incidunt atque facere fuga aliquam temporibus repudiandae molestiae deserunt dolor animi quia hic consequatur corrupti. Error voluptates consequatur a ut repudiandae, nulla dolore aliquid asperiores beatae quam sint inventore necessitatibus rerum aspernatur assumenda quidem enim! Nulla.</p>
                 <div class="tab-titles" data-aos="fade-left">
                  <a class="tab-links" routerLink="/Skils">Skills</a>
                  <p class="tab-links" onclick="opentab('experience')">Experience</p>
                  <p class="tab-links" onclick="opentab('education')">Education</p>
                 </div>
                 <div class="tab-contents active-tab" id="skills" data-aos="zoom-in">
                  <ul>
                      <li><span>Angular10++</span>
                      <br>Angular Front-End Developer</li>
                      <li><span>Web Development</span><br> Web App Development</li>
                      <li><span>Ionic Mobile-App</span><br>Mobile App Development</li>
                  </ul>
                 </div>
                 <div class="tab-contents" id="experience" >
                  <ul>
                      <li><span>2022 - October</span><br>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</li>
                      <li><span>2022 - Present</span><br>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</li>
                      <li><span>2022 - Present</span><br>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                      <li><span>2022 - Present</span><br>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</li>
                  </ul>
                 </div>
                 <div class="tab-contents" id="education">
                  <ul>
                      <li><span>Computer science and Engineering</span><br>Lorem ipsum dolor sit amet.</li>
                  </ul>
                 </div>
              </div>
          </div>
      </div>
    </div>
</body>