<body>
    <div id="services" data-aos="fade-up"
    data-aos-anchor-placement="top-center">
       <div class="contenier" >
           <h1 class="sub-title">My Services</h1>
           <div class="services-list">
               <div data-aos="fade-right">
                   <img src="assets/flag.png">
                   <h2>Web Development</h2>
                   <p>Creating websites from ideas.</p>
                   <a href="#">Learn More</a>
               </div>
               <div data-aos="flip-up">
                   <img src="assets/pancel.png" >
                   <h2>Website Designer</h2>
                   <p>Make people smile by design Website.</p>
                   <a href="#">Learn More</a>
               </div>
               <div data-aos="fade-left">
                   <img src="assets/grars.png" >
                   <h2>Digital Marketing</h2>
                   <p>Be where the world is going.</p>
                   <a href="#">Learn More</a>
               </div>
           </div>
           <a href="" class="btn">Back</a>
       </div>
    </div>
</body>