<body onload="loader()">
    <div id="Loading"></div>
     <!-----start Hearder section-----> 
     <div id="hearder"  data-aos="fade-up"
     data-aos-anchor-placement="top-bottom"> 
        <div class="contenier">
            <nav >
                <img src="https://images.unsplash.com/photo-1498758536662-35b82cd15e29?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fG1hbiUyMGNvbXB1dGVyfGVufDB8fDB8fHww" alt="logo" class="logo" data-aos="zoom-in">
                <ul id="sidmenu" data-aos="zoom-in">
                    <li><a [routerLink]="" >Home</a></li>
                    <li><a routerLink="/About">About</a></li>
                    <li><a routerLink="/Services">Services</a></li>
                    <li><a routerLink="/Projects" >Projects</a></li>
                    <li><a routerLink="/Contact">Contact</a></li>
                    <li><a routerLink="/Login">Login</a></li>
                 </ul>
              </nav> 
              <div class="hearder-text"  data-aos="fade-right"
              data-aos-offset="300"
              data-aos-easing="ease-in-sine">
                <p>Front-end web-developer</p>
                <h1>Hi I am <span>A Venkatesh</span> <br> From India</h1>
              </div>       
            </div>
        </div>
</body>