<body>
    <div id="portfolio">
        <div class="contenier">
            <h1 class="sub-title">My Repositories</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus!</p>
            <div class="work-list">
                <div class="work" data-aos="zoom-in">
                    <img src="assets/Portfolio2.png">
                    <div class="layer">
                        <h3>Basic Banking Website</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem magnam laborum esse quis?
                        </p>
                        <a target="_blank" href=""><i class="fa-solid fa-up-right-from-square"></i></a>
                    </div>
                </div>
                <div class="work" data-aos="zoom-in">
                    <img src="assets/Portfolio3.png">
                    <div class="layer">
                        <h3>Payment Gateway Integration</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed voluptatibus consectetur porro
                            deserunt?</p>
                        <a target="_blank" href=""><i class="fa-solid fa-up-right-from-square"></i></a>
                    </div>
                </div>
                <div class="work" data-aos="zoom-in">
                    <img src="assets/Portfolio4.png">
                    <div class="layer">
                        <h3>Chatting Application</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab a eaque cupiditate distinctio.
                        </p>
                        <a target="_blank" href=""><i class="fa-solid fa-up-right-from-square"></i></a>
                    </div>
                </div>
            </div>
            <a href="" class="btn">Learn More</a>
            <a href="" class="btn">Back</a>
            <!-- <button [routerLink]="['/']" class="btn btn2">Back</button> -->
        </div>
    </div>
</body>